@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container a {
  color: var(--custom-teal) !important;
}
.leaflet-control-attribution {
  opacity: 0;
}
/* Hide the up and down arrows for input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
  width: 250px;
}

.button-3:active,
.button-3:focus {
  border-color: var(--custom-teal);
  color: var(--custom-peach);
}

:root {
  --custom-orange: theme("colors.custom-orange");
  --custom-peach: theme("colors.custom-peach");
  --custom-white: theme("colors.custom-white");
  --custom-teal: theme("colors.custom-teal"); /* bg right now */
  --custom-bg: theme("colors.custom-bg"); /* bg right now */
  --custom-black: theme("colors.custom-black");
}

a {
  color: var(--custom-peach);
}

._it4vx {
  height: 3px;
  background: #00bfff -webkit-gradient(linear, left top, right top, from(#00bfff), color-stop(#20b2aa), color-stop(#7fffd4), color-stop(#afeeee), to(#00bfff));
  background: #00bfff -webkit-linear-gradient(left, #00bfff, #20b2aa, #7fffd4, #afeeee, #00bfff);
  background: #00bfff
    linear-gradient(to right, #00bfff, #20b2aa, #7fffd4, #afeeee, #00bfff);
  background-size: 500%;
  -webkit-animation: 2s linear infinite LoadingBarProgress,
    0.5s ease-out LoadingBarEnter;
  animation: 2s linear infinite LoadingBarProgress,
    0.5s ease-out LoadingBarEnter;
  -webkit-transform-origin: left;
  transform-origin: left;
  width: 100%;
}
._72fik {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 12;
}
@keyframes LoadingBarProgress {
  0% {
    background-position: 0% 0;
  }
  to {
    background-position: 125% 0;
  }
}
@keyframes LoadingBarEnter {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

body {
  font-family: "Alumni Sans", sans-serif;
}

.custom-underline {
  display: flex;
  text-decoration: underline;
  text-decoration-color: var(
    --custom-teal
  ); /* Replace #yourColor with the actual color code */
  text-decoration-thickness: 2px; /* Adjust thickness as needed */
}

.hide {
  display: none;
}

.menu {
  margin-left: 0; /* Initial state */
}

.countdown {
  display: none; /* Initially hidden */
  color: white;
  font-size: 2rem; /* Example size, adjust as needed */
}

.game-started .custom-underline {
  display: none;
}

.game-started .menu {
  margin-left: auto;
}

.countdown.show {
  display: flex; /* Show the countdown when game starts */
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  display: none !important;
}
.mapWithImageContainer {
  z-index: 3;
}

.iiimageContainer {
  position: absolute;
  top: 0%;
  right: 0px;
  width: 400px;
  height: 0%;
  z-index: 1000;
}

.slider-imageContainer {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -10%;
  width: 100px; /* Need a specific value to work */
  z-index: 1000;
}

/* Ensure the parent container does not force a larger width */
.wikiimg {
  position: relative; /* or other positioning if needed */
  width: auto; /* adjust width as necessary */
  display: inline-block; /* or 'block' depending on your layout */
}

/*  */

.SMN_effect-32 a {
  padding: 0;
  z-index: 1;
}

.SMN_effect-32 a:hover {
  -ms-animation: circleOpacity forwards 1s;
  -moz-animation: circleOpacity forwards 1s;
  -webkit-animation: circleOpacity forwards 1s;
  animation: circleOpacity forwards 1s;
}

@keyframes circleOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.SMN_effect-32 a:before,
.SMN_effect-32 a:after {
  position: absolute;
  top: 0px;
  left: 0;
  content: "◯";
  display: block;
  width: 100%;
  font-size: 0px;
  color: var(--custom-teal);
  text-align: center;
  z-index: -1;
}

.SMN_effect-32 a:hover:before {
  animation: circledrop 1s;
  -ms-animation: circledrop 1s;
  -moz-animation: circledrop 1s;
  -webkit-animation: circledrop 1s;
}

@keyframes circledrop {
  0% {
    opacity: 1;
    font-size: 0;
    top: 0;
  }
  100% {
    opacity: 0;
    font-size: 85px;
    top: -50px;
  }
}
.playbuttondiv {
  margin-left: auto;
  margin-right: 5px;
  dispaly: flex;
}
.play-button figure:hover {
  color: var(--custom-teal);
  dispaly: flex;
}

.hover15 figure {
  position: relative;
  width: 40px; /* Define a fixed width */
  height: 37px; /* Define a fixed height */
  line-height: 37px; /* Align text vertically */
  text-align: center; /* Align text horizontally */
}

.hover15 figure .play-button {
  width: 100%;
  height: 100%;
  background-color: #000; /* Button background color */
  color: white; /* Button text color */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth background color transition */
}

.hover15 figure::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.hover15 figure:hover::before {
  -webkit-animation: circle 0.55s forwards; /* Use forwards to retain final state */
  animation: circle 0.55s forwards; /* Use forwards to retain final state */
}

@-webkit-keyframes circle {
  0% {
    opacity: 1; /* Start fully visible */
    width: 0;
    height: 0;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    opacity: 1; /* Start fully visible */
    width: 0;
    height: 0;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.button-1 {
  background-color: transparent;
  -webkit-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
  color: var(--custom-peach);
  /* caret-color: transparent; */
}
.button-1:hover {
  background-color: #c0392b; /* Darker red background */
  transform: scale(1.1);
}
.button-2 {
  box-shadow: 0 0 5px 0 #fff inset, 0 0 20px 1px #fff;
  border: 0px solid #fff;
}

.button-3 {
  background-color: transparent;
  color: var(--custom-peach);
  border: 2px solid #ffff;
  transition: all 0.3s ease;
}

.button-3:hover {
  border-color: var(--custom-teal);
  color: var(--custom-peach);
}

.SMN_effect-64 a {
  margin-right: 1em;
  position: relative;
  z-index: 2;
}

.SMN_effect-64 a:before,
.SMN_effect-64 a:after {
  width: 80px;
  height: 80px;
  content: "";
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -10%;
  transition: all 1s cubic-bezier(0.45, 0.76, 0.58, 0.94);
}

.SMN_effect-64 a:before {
  background-color: var(
    --custom-bg
  ); /* Replace '--custom-bg' with the actual color if it's not a CSS variable */
  z-index: -1;
}

.SMN_effect-64 a:after {
  background-color: #fff; /* Change this as necessary */
  z-index: -2;
  transform: scale(0.9);
}

/* Simulated hover effect */
.simulated-hover-64 a:before {
  /* Properties if needed, else remove this part */
}

.simulated-hover-64 a:after {
  transform: scale(1) translate(6px);
}

.opacity-hidden {
  opacity: 0;
  transition: opacity 1s ease; /* Smooth transition to visible */
}

.opacity-visible {
  opacity: 1;
  transition: opacity 1s ease; /* Ensure the transition is smooth */
}

/* Sepia */
.hover09 figure img {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover09 figure:hover img {
  -webkit-filter: sepia(0);
  filter: sepia(0);
}

.topimg .figureYear img {
  -webkit-filter: sepia(40%);
  filter: sepia(40%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/* .wikiimgFade {
  position: relative;
}

.wikiimgFade::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  z-index: 1;
} */
/* .wikiimg {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
} */

.imageContainer {
  position: relative;
  width: 400px; /* or the width of your image */
  height: 500px; /* or the height of your image */
  background: linear-gradient(
    to right,
    white 0%,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 0%
  );
}

.wikiimg {
  -webkit-mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjust as needed to fit your design */
}

.fiimageContainer {
  display: none;
  position: absolute;
  bottom: 200;
  right: 0px;
  width: 100%;
  z-index: 3;
}

.fwikiimg {
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 100%;
}

.fafooter {
  opacity: 1;
  transition: opacity 0.3s ease-out;
  transform: scale(1); /* Initial scale is 100% */
}
.fafooters:hover {
  transform: scale(0.92); /* Scale down to 80% */
  color: var(--custom-teal);
}

.tiimageContainer {
  opacity: 0.4;
  display: none;
  position: absolute;
  top: ;
  right: 0px;
  width: 100%;
  z-index: 3;
}

.twikiimg {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
}
/* 
.slidercontainer {
  dispaly: flex;
  height: 10%;
  width: 100vw;
  background-color: var(--custom-bg);
  margin-bottom: 2em;
} */

@media (max-width: 1250px) {
  .slider-imageContainer {
    margin-left: auto;
    margin-right: auto;
    top: 90%;
    right: 60%;
    z-index: 999;
  }
  .slider {
    color: black;
  }
  .iiimageContainer {
    width: 300px;
  }
  .figureYear {
    width: 100%;
  }

  .hover09 {
    dispaly: flex;
    justify-content: end;
  }
}

@media (max-width: 850px) {
  .slider-imageContainer {
    margin-left: auto;
    margin-right: auto;
    top: 90%;
    right: 40%;
    z-index: 999;
  }
  .iiimageContainer {
    width: 200px;
  }
  .figureYear {
    width: 100%;
  }

  .hover09 {
    dispaly: flex;
    justify-content: end;
  }
}

@media (max-width: 700px) {
  input[type="number"] {
    width: 170px;
  }
  .iiimageContainer {
    width: 150px;
  }

  .hover09 {
    dispaly: flex;
    justify-content: end;
  }
}

@media (max-width: 550px) {
  .Map {
    height: 420px !important;
  }
  .slider-imageContainer {
    right: 0%;

    margin-left: auto;
    margin-right: auto;
    top: 92%;
  }
  /* .slider__left-value,
  .slider__right-value {
  } */

  input[type="number"] {
    caret-color: transparent;
  }
  .tiimageContainer {
    display: inline;
  }
  .fiimageContainer {
    display: inline;
  }
  .iiimageContainer {
    display: none;
  }

  .hover09 {
    dispaly: flex;
    justify-content: end;
  }

  .row3 {
    padding: 10px 6px;
  }
  input[type="number"] {
    width: 150px;
  }

  input::placeholder {
    opacity: 0;
  }

  .mainlogo {
    margin: 1em 0.5em 1em 0.5em;
    min-width: 150px; /* Adjust this value as needed */
  }
  .hide-on-small-screen {
    display: none;
  }
  .on-small-screen {
    padding-left: 6px;
    padding-right: 6px;
  }
  .SMN_effect-64 {
    font-size: 0.85em;
  }
  .SMN_effect-64 a:before,
  .SMN_effect-64 a:after {
    opacity: 0;
  }
  .forfooter {
    margin-bottom: 0.7em;
  }
}
